@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');
/* <----------gradient------> */
body{ 
      height: 100%;
      background-color:black;
      background-image: linear-gradient( rgb(29, 10, 32),rgb(10, 1, 10),
        rgb(0, 0, 0));
     
}


/* /body{background-image:url(Images/cityscape2.jpg);
  background-color: rgba(75, 65, 65, 0.668);
  background-repeat: no-repeat;
  background-size:1520px 1830px;
  background-blend-mode:multiply; */ 
    /* height: 2000px; */
    
    /* <----------nav bar at top of page------> */
.topnav {
    background-color: rgba(107, 33, 98, 0.497);
    border-radius: 5%;
    width:100%;
    overflow: hidden;
    position:fixed;
    z-index:1;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ce13af;  
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: violet 10px 5px 5px;
    color: white;
  }

 /* <----------cyber font for paragraphs------> */ 
  .new_font{font-family: "rajdhani", sans-serif;line-height:2em ; text-align: center;
  color: whitesmoke}

  /* <----------name eclipse------> */
.header_border{border-color: black; background-color: black;
border: solid rgb(0, 0, 0);
box-shadow: violet 10px 5px 5px;
border-radius: 50%;
margin-bottom: 3%;
width:200px;
height:200px;
margin-top:5%;}

/* <----------glow for titles------> */
.title_glow{color:whitesmoke; font-size: 1.3em;
    text-shadow: 2px 2px 5px rgb(174, 112, 245);text-align: center;}
      
  

    /* <----------skills boxes------> */
    .skills{color:whitesmoke; background-color: #0f0d0d8a;
        /* border: solid rgb(10, 227, 238); */
        /* box-shadow: violet 10px 5px 5px; */
        box-shadow: 7px 10px 18px #ec63c3;
        border-radius: 5%;
        margin-top: 100px;
        margin-left: 400px;
        margin-right: 400px;
        font-size:18px;
        margin-top: 4%;
        margin-bottom: 4%;
    padding-right: 10px;
    padding-left: 10px;
padding-bottom: 3px;}



/* <---------icons for skills and contact--------> */
.icons{
  font-size: 4em;
  padding:1%;
  overflow-x:hidden;
  text-align: center;
}

  /* .icons:hover{
    box-shadow: 0 0 8px rgba(238, 117, 210, 0.6);
  } */


.font_color{color:whitesmoke; background-color: #0f0d0d2f;
    /* border: solid rgb(238, 10, 193);
    box-shadow: violet 10px 5px 5px; */
    border-radius: 5%;
    /* margin-left: 400px;
    margin-right: 400px; */
    font-size:18px;
    margin-top: 10px;
padding-right: 300px;
padding-left: 300px;}

/* <-------projects------> */
.item {
    position: relative;
    margin-top: 4em;
    margin-left: 10px;
    margin-right: 10px;
    color:whitesmoke;
background-color: #0f0d0d8a;
    /* border: solid rgb(201, 126, 218); */
    padding-top: 2%;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 6%;
    box-shadow: rgb(220, 49, 200) 10px 5px 5px;
    border-radius: 5%;
    display: inline-block;
    text-align: center;
    width:31%; 
}
img {
    width: 20em;
    height: 16em;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 50%;
    /* box-shadow: 6px 6px 5px #000000; */
}
.caption {
    display: block;
}

/* <----------name glitch------> */

.name{
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
      .container {
        text-align: center;
      }
      
      .glitch {text-align: center;
        font-size: 2rem;
        font-weight: bold;
        text-transform: uppercase;
        position: relative;
        text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
          0.025em 0.04em 0 #fffc00;
        animation: glitch 725ms infinite;
      }
      
      .glitch span {
        position: absolute;
        top: 0;
        left: 0;
      }
      
      .glitch span:first-child {
        animation: glitch 500ms infinite;
        clip-path: polygon(0 0, 100% 0, 100% 35%, 0 35%);
        transform: translate(-0.04em, -0.03em);
        opacity: 0.75;
      }
      
      .glitch span:last-child {
        animation: glitch 375ms infinite;
        clip-path: polygon(0 65%, 100% 65%, 100% 100%, 0 100%);
        transform: translate(0.04em, 0.03em);
        opacity: 0.75;
      }
      
      @keyframes glitch {
        0% {
          text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
            0.025em 0.04em 0 #fffc00;
        }
        15% {
          text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
            0.025em 0.04em 0 #fffc00;
        }
        16% {
          text-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff,
            -0.05em -0.05em 0 #fffc00;
        }
        49% {
          text-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff,
            -0.05em -0.05em 0 #fffc00;
        }
        50% {
          text-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff,
            0 -0.04em 0 #fffc00;
        }
        99% {
          text-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff,
            0 -0.04em 0 #fffc00;
        }
        100% {
          text-shadow: -0.05em 0 0 #00fffc, -0.025em -0.04em 0 #fc00ff,
            -0.04em -0.025em 0 #fffc00;
        }
      }
      

      @font-face {
        font-family: Cyber;
        src: url("https://assets.codepen.io/605876/Blender-Pro-Bold.otf");
        font-display: swap;
      }
      
      * {
        box-sizing: border-box;
      }
    

      /* <----------city drawing------> */
 .cityscape{background-image: url(Images/cityscape3.jpg);
        background-attachment: fixed;
        background-size: 100% 100%;
        margin: 0px;
        padding:0;
        background-color: rgba(75, 65, 65, 0.668);
        background-blend-mode:multiply;}
      

 /* <----------socials for contact------> */ 
.social_box{
  display:flex;
  justify-content: space-around;
  margin: 10em;
  overflow-x: hidden;
  }
  
/* --------- Responsiveness ---------------- */

@media screen and (max-width: 1060px) {
  #primary { width:70%; height:60%; }
  .font_color{font-size: 99%; width:150%; margin-left:-25%;}
  .item{width:30.5%;display: inline-block;position: relative;}
  img{width:74%;}
  .skills{width:70%;text-align: center; margin-left:16%;}  
  .header_border{width:21%}
  #secondary { width:30%; margin-left:3%;}  
}

@media screen and (max-width: 600px) {
  #primary { width:50%; height:60%; }

  .title_glow{font-size:60%;text-align: center;}
  .font_color{font-size:40%; white-space: pre; margin-left:-45%;text-align: center;}
  .item{width:27.5%;display: inline-block;position: relative;}
  img{width:80%;}
  /* .skills{font-size:1em;60%;text-align: center; margin-left:16%;}   */
  .icons{font-size: 3em;}
  #secondary { width:30%; margin-left:3%;}  
}
