body{ 
      height: 1000px;
      background-color:black;
      background-image: linear-gradient( rgb(29, 10, 32),rgb(10, 1, 10),
        rgb(0, 0, 0));
     
}
/* /body{background-image:url(Images/cityscape2.jpg);
  background-color: rgba(75, 65, 65, 0.668);
  background-repeat: no-repeat;
  background-size:1520px 1830px;
  background-blend-mode:multiply; */ */
    /* height: 2000px; */
    
.topnav {
    background-color: black;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ce13af;  
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: violet 10px 5px 5px;
    color: white;
  }

.header_border{border-color: black; background-color: black;
border: solid rgb(0, 0, 0);
box-shadow: violet 10px 5px 5px;
border-radius: 50%;
margin-bottom: 3%;
margin-right:325px;
width:200px;
height:200px;}

.title_glow{color:whitesmoke;
    text-shadow: 2px 2px 5px rgb(174, 112, 245);}
      
  /* .banner{background-image: url(Images/cityscape.jpg);
    background-size: 1500px 600px;
    background-repeat: no-repeat;
background-color: rgba(75, 65, 65, 0.668);
    background-blend-mode:multiply;} */

    .skills{color:whitesmoke; background-color: #0f0d0d8a;
        /* border: solid rgb(10, 227, 238); */
        box-shadow: violet 10px 5px 5px;
        border-radius: 5%;
        margin-top: 100px;
        margin-left: 400px;
        margin-right: 400px;
        font-size:18px;
        margin-top: 4%;
        margin-bottom: 4%;
    padding-right: 10px;
    padding-left: 10px;
padding-bottom: 3px;}
.icons{
  font-size: 4em;

}


.font_color{color:whitesmoke; background-color: #0f0d0d2f;
    /* border: solid rgb(238, 10, 193);
    box-shadow: violet 10px 5px 5px; */
    border-radius: 5%;
    /* margin-left: 400px;
    margin-right: 400px; */
    font-size:18px;
    margin-top: 10px;
padding-right: 300px;
padding-left: 300px;}


.item {
    position: relative;
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
    color:whitesmoke;
background-color: #0f0d0d8a;
    /* border: solid rgb(201, 126, 218); */
    padding-top: 2%;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 6%;
    box-shadow: rgb(198, 136, 224) 10px 5px 5px;
    border-radius: 5%;
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 475px;
}
img {
    width: 380px;
    height: 300px;
    padding-left: 10px;
    padding-right: 10px;
}
.caption {
    display: block;
}

.resume{color:whitesmoke; background-color: #0f0d0d8a;
    border: dotted rgb(38, 225, 246);
    box-shadow: rgb(65, 29, 243) 10px 5px 5px;
    border-radius: 5%;
    margin-left: 400px;
    margin-right: 400px;
    margin-top: 5%;
    margin-bottom: 5%;
    }


.name{
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
      .container {
        text-align: center;
      }
      
      .glitch {
        font-size: 2rem;
        font-weight: bold;
        text-transform: uppercase;
        position: relative;
        text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
          0.025em 0.04em 0 #fffc00;
        animation: glitch 725ms infinite;
      }
      
      .glitch span {
        position: absolute;
        top: 0;
        left: 0;
      }
      
      .glitch span:first-child {
        animation: glitch 500ms infinite;
        clip-path: polygon(0 0, 100% 0, 100% 35%, 0 35%);
        transform: translate(-0.04em, -0.03em);
        opacity: 0.75;
      }
      
      .glitch span:last-child {
        animation: glitch 375ms infinite;
        clip-path: polygon(0 65%, 100% 65%, 100% 100%, 0 100%);
        transform: translate(0.04em, 0.03em);
        opacity: 0.75;
      }
      
      @keyframes glitch {
        0% {
          text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
            0.025em 0.04em 0 #fffc00;
        }
        15% {
          text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
            0.025em 0.04em 0 #fffc00;
        }
        16% {
          text-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff,
            -0.05em -0.05em 0 #fffc00;
        }
        49% {
          text-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff,
            -0.05em -0.05em 0 #fffc00;
        }
        50% {
          text-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff,
            0 -0.04em 0 #fffc00;
        }
        99% {
          text-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff,
            0 -0.04em 0 #fffc00;
        }
        100% {
          text-shadow: -0.05em 0 0 #00fffc, -0.025em -0.04em 0 #fc00ff,
            -0.04em -0.025em 0 #fffc00;
        }
      }
      

      @font-face {
        font-family: Cyber;
        src: url("https://assets.codepen.io/605876/Blender-Pro-Bold.otf");
        font-display: swap;
      }
      
      * {
        box-sizing: border-box;
      }
    
 .cityscape{background-image: url(Images/cityscape3.jpg);
        background-attachment: fixed;
        background-size: 100% 100%;
        background-repeat: no-repeat;
    background-color: rgba(75, 65, 65, 0.668);
        background-blend-mode:multiply;}
      

.social_box{
  display:flex;
  justify-content: space-around;
  margin: 10em; 

  
}
            /* .row {
                display: flex;
              
              }
              .column {
                width:2em;
                flex: 33.33%;
                width:0%; */
              /* } */
/* .font_color{color:crimson} */  